<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login Page</title>
</head>

<body>
  <h1>Login Page</h1>
  <form class="" action="/login" method="post">

    <label for="username">Username:</label>
    <input type="email" name="username" value="" placeholder="Enter Username"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" placeholder="Enter Password"><br><br>
    <button type="submit" name="button">Login</button>
    <a href="/auth/google" role="button">
      <i class="fab fa-google"></i>
      Sign In with Google
    </a>
  </form>
</body>

</html>
