<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Next page</title>
  </head>
  <body>
    <h1>This is the next page.</h1>
    <button type="button" name="button"><a href="/logout">Logout</a></button>

  </body>
</html>
